@media (max-width: 768px) {
    .sobreoprojeto {
      padding: 5% 5%;
    }
  
    .sobreoprojeto h1 {
      font-size: 36px;
    }
  
    .sobreoprojeto p {
      font-size: 16px;
    }
  
    .acessarapp {
      flex-direction: column;
      align-items: center;
    }
  
    .acessarapp button {
      margin-bottom: 10px;
    }

    .tecnologias {
      padding: 20px;
    }
  
    .tecnologias h2 {
      font-size: 36px;
    }
  
    .techs {
      flex-wrap: wrap;
    }
  
    .skill {
      width: 120px;
      margin-bottom: 20px;
    }
  }
  